<div class="container">
  <mat-toolbar>
    <span>Crear usuario</span>

  </mat-toolbar>

  <mat-card style="margin-top:10px">
    <form [formGroup]="form" (ngSubmit)="agregarUser()">
      <mat-grid-list cols="6" rowHeight="70px">

        <mat-grid-tile [colspan]="6" [rowspan]="5">
          <img src="./assets/img/registro.png" width="350" height="350">
        </mat-grid-tile>



        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="ancho">
            <mat-label>Cedula</mat-label>
            <input matInput autocomplete="off" formControlName="cedula">
          </mat-form-field>
        </mat-grid-tile>

        

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="ancho">
            <mat-label>Nombre</mat-label>
            <input matInput autocomplete="off" formControlName="nombre">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="ancho">
            <mat-label>Apellido</mat-label>
            <input matInput autocomplete="off" formControlName="apellido">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="ancho">
            <mat-label>Edad</mat-label>
            <input matInput autocomplete="off" formControlName="edad">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="ancho">
            <mat-label>Email</mat-label>
            <input matInput autocomplete="off" formControlName="email">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="ancho">
            <mat-label>Ciudad</mat-label>
            <input matInput autocomplete="off" formControlName="ciudad">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="ancho">
            <mat-label>Dirección</mat-label>
            <input matInput autocomplete="off" formControlName="direccion">
          </mat-form-field>
        </mat-grid-tile>


        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="ancho">
            <mat-label>Fecha de nacimiento</mat-label>
            <input type="date" matInput autocomplete="off" formControlName="fecha_nacimiento">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="ancho">
            <mat-label>Licencia</mat-label>
            <mat-select formControlName="licencia">
              <mat-option *ngFor="let item of licencia" [value]="item">
                {{item}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="ancho">
            <mat-label>Costo</mat-label>
            <input type="number" matInput autocomplete="off" formControlName="costo">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <button mat-raised-button style="margin-right: 20px;">Volver</button>
          <button type="sumbit"  mat-raised-button color="primary">Aceptar</button>
        </mat-grid-tile>

      </mat-grid-list>
    </form>

  </mat-card>

</div>