<div class="body">
    <div class="login">
        <mat-spinner *ngiIf="loading" class="spinner" diameter="100"></mat-spinner>

        <form *ngIf="!loading" [formGroup]= "form" (ngSubmit)="ingresar()">
        <img src="./assets/img/User.png" width="50%">
        <h1>Inicio de sesión</h1>

        <mat-form-field class="ancho" apparence = "fill" > 
             <mat-label > Usuario </mat-label > 
             <input  matInput autocomplete="off" formControlName="usuario"> 
        </mat-form-field > 

        <mat-form-field class="ancho"  apparence= "fill" > 
            <mat-label > Contraseña </mat-label > 
            <input type="password" matInput autocomplete="off" formControlName="password"> 
       </mat-form-field > 
       <br>
       <button type="submit" class= "ancho button"  mat-raised-button color="primary" [disabled]= "form.invalid">ingresar</button>
    </form>
    </div>
</div>




